<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>ABOUT ME</h1>
    <h3>Myself Rimsha Fathima. A 13-year old teen. I am studying in Indian School Al ain. I am Passionate about learning Coding and also about Science. I Love acquiring knowledge. I see myself as a Coder/Front-end Web Developer in the near future. I always keep myself engaged in various things like Reading, Researching, Coding. By learning Python I understood the Importance of Logical building. I am looking forward to learning other coding languages, such as HTML/CSS, Javascript, etc</h3>
    
</body>
</html>