<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Of Pizza</title>
   <style>
       body{
        background-color: burlywood;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        color: brown;
       }
       button{
           background-color: pink;
           box-shadow: #094c66 4px 4px 0px;
           border-radius: 8px;
           transition: transform 200ms, box-shadow 200ms;
       }
       button:active{
        transform: translateY(4px) translateX(4px);
        box-shadow: #094c66 0px 0px 0px;
       }
   </style>
</head>

<body>
    <h1>HISTORY OF PIZZA QUIZ</h1>
    <p>score={{session.get('score' , 0)}}</p> 
    <h4>What is the most popular pizza topping</h4>
    <form action="/q1" method="post">
        <label for="">Pepperoni</label>
        <input type="radio" name="option" id="" value="a">

        <label for="">Bell Pepper</label>
        <input type="radio" name="option" id="" value="b">

        <label for="">Onion</label>
        <input type="radio" name="option" id="" value="c">

        <button type="submit">SUBMIT</button>
    </form>
    {%if messsage%}
    <h3>{{message}}</h3>
    <a href="question_2.html"><button>Question 2</button></a>
</body>
</html>